@layout('layouts.base')

@section('content')
<div class="content-block">
  <p class="content-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus orci ac auctor augue mauris. Odio morbi quis commodo odio. Tincidunt arcu non sodales neque sodales. Sodales ut etiam sit amet nisl purus in mollis. Vel eros donec ac odio. Urna cursus eget nunc scelerisque viverra mauris in. Volutpat blandit aliquam etiam erat velit scelerisque in dictum. Ullamcorper dignissim cras tincidunt lobortis. Ipsum dolor sit amet consectetur adipiscing elit pellentesque. Nisi quis eleifend quam adipiscing vitae proin. Nibh ipsum consequat nisl vel pretium. At augue eget arcu dictum varius duis. Sagittis nisl rhoncus mattis rhoncus urna neque. Et netus et malesuada fames ac. Tortor id aliquet lectus proin nibh nisl. Ultrices in iaculis nunc sed augue. Ante in nibh mauris cursus mattis molestie a. At consectetur lorem donec massa sapien faucibus. Id eu nisl nunc mi.
  </p>
</div>
@endsection
